/* Dashboard.css */

.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.dashboard-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin-top: 50px; /* Add margin to avoid overlap with sticky header */
}

.user-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
    margin: 10px 0;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; /* Use auto height for flexibility */
}

.user-card:hover {
    box-shadow: 0 4px 8px #0000001a;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name,
.user-email {
    margin: 5px 0; /* Ensure consistent spacing between elements */
}

.user-name {
    font-weight: bold;
    color: #555;
}

.user-email {
    color: #888;
}

.user-email.admin {
    color: red;
    font-weight: bold;
    height: 20px;
}

.admin-toggle {
    margin-top: 10px;
}



/* Dashboard.css */

.wrap-check-57 {
  position: relative;
  display: flex;
  align-items: center;
}

.wrap-check-57 input[type="checkbox"] {
  position: relative;
  width: 38px;
  height: 21px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ccc;
  border-radius: 11px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.wrap-check-57 input[type="checkbox"]:checked {
  background-color: #275EFE;
}

.wrap-check-57 input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.wrap-check-57 input[type="checkbox"]:checked::before {
  transform: translateX(17px);
}

.wrap-check-57 label {
  margin-left: 10px;
  font-size: 14px;
}

/* Responsive design */
@media (max-width: 768px) {
    .dashboard-container {
        padding: 10px;
    }

    .dashboard-header {
        font-size: 20px;
        padding: 10px 0;
    }

    .user-card {
        padding: 15px;
    }

    .user-name,
    .user-email {
        margin: 3px 0;
    }
}

