/* Base styles for desktop and larger screens */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0 1px 3px -2px black;
  z-index: 5;
  background: #ffefbc;
}

.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo img {
  width: 40px;
  height: auto;
}

.wrap-input-17 {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.wrap-input-17 .search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.wrap-input-17 .input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #fff;
  padding-right: 40px;
  color: #000;
}

.wrap-input-17 .input-search::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.wrap-input-17 .btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 40px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.wrap-input-17 .btn-search:focus~.input-search,
.wrap-input-17 .input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #626262;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.nav-menu a {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

.nav-menu hr {
  border: none;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar .cart-img {
  width: 30px;
  height: auto;
}

.nav-login-cart .new-button,
.nav-login-cart .login {
  height: 45px;
  padding: 0 20px;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  outline: none;
}

.nav-login-cart .new-button:hover,
.nav-login-cart .login:hover,
.dropdown-menu button:hover {
  background-color: #f3f3f3;
}

.nav-cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 14px;
  background: red;
  color: white;
  position: relative;
  top: -10px;
  right: 30px;
}

.profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-icon {
  cursor: pointer;
  margin-left: 10px;
  width: 50px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: -26px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 110px;
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

input[type="text"]::placeholder {
  color: #999;
  opacity: 1;
}

.btn-101,
.btn-101 *,
.btn-101 :after,
.btn-101 :before,
.btn-101:after,
.btn-101:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-101 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-101:disabled {
  cursor: default;
}

.btn-101:-moz-focusring {
  outline: auto;
}

.btn-101 svg {
  vertical-align: middle;
}

.btn-101 [hidden] {
  display: none;
}

.btn-101 {
  --thickness: .2rem;
  --roundness: 1.2rem;
  --color: #000000;
  --opacity: 0.6;
  -webkit-backdrop-filter: blur(10000px);
  backdrop-filter: blur(1000px);
  background: none;
  background: #769efe;
  border: none;
  border-radius: var(--roundness);
  color: var(--color);
  cursor: pointer;
  display: block;
  font-family: Poppins, "sans-serif";
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-101:hover {
  background: hsla(227, 99%, 73%, 0.856);
  filter: brightness(1.2);
}

.btn-101:active {
  --opacity: 0;
  background: hsla(227, 99%, 73%, 0.459);
}

.btn-101 svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-101 rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  rx: var(--roundness);
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}

.btn-101:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}

@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}

@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}


/* Style for the toggle button */
.nav-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
  position: relative;
  width: 30px; /* Adjust the width */
  height: 25px; /* Adjust the height to fit the bars */
  left: 10rem;
  bottom: 4rem;
}

/* Bars for the hamburger icon */
.nav-toggle .bar {
  display: block;
  width: 100%;
  height: 3px; /* Adjust the thickness of the bars */
  background-color: #000; /* Adjust the color of the bars */
  position: absolute;
  left: 0;
  transition: 0.3s;
}

.nav-toggle .bar:nth-child(1) {
  top: 0;
}

.nav-toggle .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.nav-toggle .bar:nth-child(3) {
  bottom: 0;
}


/* Media Queries for Tablets */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 16px;
  }
  

  .wrap-input-17 {
    margin: 10px 0;
  }

  .nav-menu {
    flex-direction: column;
    gap: 20px;
  }

  .nav-login-cart {
    flex-direction: column;
    gap: 10px;
  }
  .nav-cart-count {
    left: 1rem;
    top: -3rem;
  }
}

/* Media Queries for Mobile Devices */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 16px;
  }

  .wrap-input-17 {
    margin: 10px 0;
  }

  .nav-menu {
    flex-direction: column;
    gap: 20px;
  }

  .nav-login-cart {
    flex-direction: column;
    padding: 15px;
  }

  .nav-cart-count {
    left: 1rem;
    top: -3rem;
  }
}