.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.profile-card {
    position: relative;
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    bottom: 54px;
}

.profile-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.profile-field {
    margin-bottom: 15px;
    text-align: left;
}

.profile-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.profile-field input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #d3d3d3;
    color: #000;
}


.edit-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.edit-button:hover {
    background-color: #218838;
}
